In [1]:
# Import the libraries you need
import os
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
protein_file = os.path.join('data', 'protein_assay.csv') # gives a path to your csv file
results_df = pd.read_csv(protein_file) # use pandas to read the csv file into a dataframe
results_df  # display your dataframe

   Protein Concentration (mg/mL)   A595
0                            0.2  0.285
1                            0.4  0.485
2                            0.6  0.621
3                            0.8  0.799
4                            1.0  1.010
5                            1.2  1.118

In [7]:
xdata = results_df['Protein Concentration (mg/mL)']   # setting the x values  
ydata = results_df['A595']  # setting the y values    
print(xdata,ydata) # checking to make sure everything is in place

0    0.2
1    0.4
2    0.6
3    0.8
4    1.0
5    1.2
Name: Protein Concentration (mg/mL), dtype: float64 0    0.285
1    0.485
2    0.621
3    0.799
4    1.010
5    1.118
Name: A595, dtype: float64

In [9]:
slope, intercept, r_value, p_value, std_err = stats.linregress(xdata, ydata)
print("Slope = ", slope)
print("Intercept = ", intercept)
print("R-squared = ", r_value**2)
print("P value = ", p_value)
print("Standard error = ", std_err)

Slope =  0.8454285714285716
Intercept =  0.12786666666666657
R-squared =  0.994690398528738
P value =  1.0590717448341336e-05
Standard error =  0.030884027089284245

In [11]:
samples_file = os.path.join('data', 'protein_samples.csv') 
samples_df = pd.read_csv(samples_file) 
samples_df  # display your dataframe

   Sample #  A-595
0         1  0.183
1         2  0.682
2         3  0.759
3         4  1.340
4         5  0.935
5         6  1.013

In [13]:
protein_conc = ((samples_df['A-595'] - intercept) / slope)
print(protein_conc)

0    0.065213
1    0.655447
2    0.746525
3    1.433750
4    0.954703
5    1.046964
Name: A-595, dtype: float64

In [15]:
samples_df['ProtConc'] = protein_conc
samples_df

   Sample #  A-595  ProtConc
0         1  0.183  0.065213
1         2  0.682  0.655447
2         3  0.759  0.746525
3         4  1.340  1.433750
4         5  0.935  0.954703
5         6  1.013  1.046964

In [17]:
samples_df.loc[samples_df['A-595'] < 0.285, 'ProtConc'] = np.nan
samples_df.loc[samples_df['A-595'] > 1.118, 'ProtConc'] = np.nan
samples_df

   Sample #  A-595  ProtConc
0         1  0.183       NaN
1         2  0.682  0.655447
2         3  0.759  0.746525
3         4  1.340       NaN
4         5  0.935  0.954703
5         6  1.013  1.046964

In [31]:
ground_water_file = os.path.join("data", "Ground_water.csv")
ground_water_df = pd.read_csv(ground_water_file)
ground_water_df

     pH  Bicarb
0   7.6     157
1   7.1     174
2   8.2     175
3   7.5     188
4   7.4     171
5   7.8     143
6   7.3     217
7   8.0     190
8   7.1     142
9   7.5     190
10  8.1     215
11  7.0     199
12  7.3     262
13  7.8     105
14  7.3     121
15  8.0      81
16  8.5      82
17  7.1     210
18  8.2     202
19  7.9     155
20  7.6     157
21  8.8     147
22  7.2     133
23  7.9      53
24  8.1      56
25  7.7     113
26  8.4      35
27  7.4     125
28  7.3      76
29  8.5      48
30  7.8     147
31  6.7     117
32  7.1     182
33  7.3      87

In [33]:
xdata, ydata = ground_water_df["Bicarb"], ground_water_df["pH"]

In [35]:
print(xdata, ydata)

0     157
1     174
2     175
3     188
4     171
5     143
6     217
7     190
8     142
9     190
10    215
11    199
12    262
13    105
14    121
15     81
16     82
17    210
18    202
19    155
20    157
21    147
22    133
23     53
24     56
25    113
26     35
27    125
28     76
29     48
30    147
31    117
32    182
33     87
Name: Bicarb, dtype: int64 0     7.6
1     7.1
2     8.2
3     7.5
4     7.4
5     7.8
6     7.3
7     8.0
8     7.1
9     7.5
10    8.1
11    7.0
12    7.3
13    7.8
14    7.3
15    8.0
16    8.5
17    7.1
18    8.2
19    7.9
20    7.6
21    8.8
22    7.2
23    7.9
24    8.1
25    7.7
26    8.4
27    7.4
28    7.3
29    8.5
30    7.8
31    6.7
32    7.1
33    7.3
Name: pH, dtype: float64

In [37]:
slope, intercept, r_value, p_value, std_err = stats.linregress(xdata, ydata)

In [39]:
print(f"Slope = {slope}")
print(f"Intercept = {intercept}")
print(f"R-squared = {r_value**2}")
print(f"P value = {p_value}")
print(f"Standard error = {std_err}")

Slope = -0.0030521595419827677
Intercept = 8.097595134597833
R-squared = 0.1152673937227531
P value = 0.04948248037131796
Standard error = 0.0014948066523110296